extends layout.pug

block form
    h3 Complete los datos del producto a agregar
    form(action="/api/productos" method="post")
        div(class="mb-3")
            label(for="titulo" class="form-label") Nombre
            input(type="text" class="form-control" id="titulo" name="titulo")
        div(class="mb-3")
            label(for="precio" class="form-label") Precio
            input(type="number" class="form-control" id="precio" name="precio")
        div(class="mb-3")
            label(for="Foto" class="form-label") Foto Url
            input(type="url" class="form-control" id="Foto" name="miniatura")
            div(id="urlHelp" class="form-text") El vinculo debe tener este formato: https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Sclssors.png
        br

        button( type="submit" class="btn btn-primary") Cargar

    br
    form(method="get" id="lista")
        button( type="button" class="btn btn-danger" onclick="window.location.href='/api/productos'") Ver Listado 