<div class="container w-75 p-3" style="background-color: lightgrey">
    <form>

    <div class="container">
        <h2>Centro de Mensajes:</h2>
        <label for="email">Ingrese su e-mail:</label>
        <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <div>
        <ul id="mensajes">

        </ul>
        <label for="mensajes">Escriba su mensaje</label>
        <input type="text" class="form-control" name="mensajes" id="mensaje" required>
        <button type="submit" name="enviar" id="btnEnviar" class="btn-danger">Enviar</button>
    </div>
    </form>
</div>